html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
}
.container {
  /* padding: 5rem; */
}
.cta {
  padding: 4rem;
  grid-column: 1 / -1;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}
.cta-heading {
  color: hsl(179, 62%, 43%);
}
.cta-sub-heading {
  margin-top: 2rem;
  color: hsl(71, 73%, 54%);
}
.cta-paragraph {
  margin-top: 1rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}
.subscription {
  padding: 4rem;
  border-bottom-left-radius: 0.8rem;
}
.subscription-plan {
  margin-top: 1.5rem;
}
.duration {
  margin-left: 1rem;
  color: hsl(179, 68%, 46%);
}
.price {
  font-size: 2.5rem;
  font-weight: 700;
}
.subscription-access {
  margin-top: 1rem;
}

button {
  border: none;
  margin-top: 3rem;
  padding: 1.5rem 9.5rem;
  border-radius: 0.4rem;
  font-weight: 700;
  box-shadow: 0px 10px 13px -3px rgba(161, 154, 154, 0.75);
  -webkit-box-shadow: 0px 10px 13px -3px rgba(161, 154, 154, 0.75);
  -moz-box-shadow: 0px 10px 13px -3px rgba(161, 154, 154, 0.75);
}
.reason {
  padding: 4rem;
  border-bottom-right-radius: 0.8rem;
}
.reason-heading {
}
.list-items {
  margin-top: 1rem;
}
